<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>학생 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="studentId">학생 ID</label>
        <input type="text" id="studentId" name="studentId" class="form-control" value="1" th:value="${student.studentId}" readonly>
    </div>
    <div>
        <label for="studentName">이름</label>
        <input type="text" id="studentName" name="studentName" class="form-control" value="학생A" th:value="${student.studentName}" readonly>
    </div>
    <div>
        <label for="age">나이</label>
        <input type="text" id="age" name="age" class="form-control" value="10" th:value="${student.age}" readonly>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/students/{studentId}/edit(studentId=${student.studentId})}'|"
                    type="button">학생 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='students.html'"
                    th:onclick="|location.href='@{/students}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>